@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --verdin: rgb(33, 129, 57);
  --verdin-dark: rgb(20, 82, 35);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--verdin);
  font-size: 1.3em;
}

.container{
  background-color: white;
  max-width: 50vw;
  margin: 50px auto; 
  padding: 20px;
  border-radius: 5px 20px 5px 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.541);  
}
.container h1{
  text-align: center; 
}
.container p {
  line-height: 2em;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

form input, form label{
  display: block;
  width: 100%;
}
form input{
  padding: 5px 20px;
  font-size: 1.3em;
  margin-bottom: 15px;
}
form input:focus{
  outline: 2px solid var(--verdin); 
}
form #submit{
  background-color: var(--verdin);
  color: white;
  border: 0;
  cursor: pointer;
}
form #submit:hover{
  background-color: var(--verdin-dark);
}
.relogio{
  font-size: 3em;
}
button{
  padding: 5px;
}